{% extends 'include/base.html' %}

{% load static %}

{% block title %}Usuarios{% endblock title %}

{% block style %}

<link rel="stylesheet" href="{% static 'css/sing-change.css' %}">

{% endblock style %}

{% block content %}

<div class="container my-4">

<h2 class="py-4">Bienvenido {{ user.first_name}}</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-lg-2 py-1">
            <div class="row">
                <div class="col col-lg-10">Username</div>
                <hr class="border border-danger border-2 opacity-70 na">
                <div class="col">{{ user.username }}</div>
            </div>
        </div>     
        <div class="col-sm-12 col-lg-3 py-1">
            <div class="row">
                <div class="col col-lg-10">Email</div>
                <hr class="border border-danger border-2 opacity-70 na">
                <div class="col">{{ user.email }}</div>
            </div>
        </div>   
        <div class="col-sm-12 col-lg-2 py-1">
            <div class="row">
                <div class="col col-lg-10">Nombre</div>
                <hr class="border border-danger border-2 opacity-70 na">
                <div class="col">{{ user.first_name }}</div>
            </div>
        </div>     
        <div class="col-sm-12 col-lg-2 py-1">
            <div class="row">
                <div class="col col-lg-10">Apellido</div>
                <hr class="border border-danger border-2 opacity-70 na">
                <div class="col">{{ user.last_name }}</div>
            </div>
        </div>  
        <div class="col-sm-12 col-lg-1 py-1">
            <div class="row">
                <div class="col col-lg-10">Estaff</div>
                <hr class="border border-danger border-2 opacity-70 na">
                <div class="col"><input type="checkbox" checked="{{ user.is_staff }}"></div>
            </div>
        </div>     
        <div class="col-sm-12 col-lg-2 py-1">
            <div class="row">                
                <a href="{% url 'users_app:up-pass' %}" class="btn btn-outline-danger sm-auto but">Cambio Pass</a>
            </div>
        </div>             
    </div>  
</div>

</div>


{% endblock content %}

{% block script %}   

{% endblock script %}