{% extends 'include/base.html' %}

{% load static %}

{% block title %}Update Pass{% endblock title %}

{% block style %}

<link href="{% static 'css/sign-in.css' %}" rel="stylesheet">

{% endblock style %}

{% block content %}

<div class="container py-5">
    <form method="post">{% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">Cambio de clave de {{ user.first_name }}</h1>
   
       <div class="form-floating py-2">
         {{form.password1}}
         <label for="floatingInput">Contraseña actual</label>
       </div>
       <div class="form-floating py-2">
         {{form.password2}}
         <label for="floatingPassword">Nueva contraseña</label>
       </div>
       
       <button class="w-100 btn btn-lg btn-primary" type="submit">Ingresar</button>
       <p class="mt-5 mb-3 text-muted">&copy; cpce 2023</p>
   </form>
</div>


{% endblock content %}

{% block script %}   

{% endblock script %}
    
