<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista autores</h1>

    <p>
        <form method="get">
            <input type="text" placeholder="Ingresa nombre" id="Kword", name="Kword">
            <button type="submit">Buscar</button>
        </form>
    </p>

    <ul>
        {% for au in lista_autores %}
        <li>
            {{au}}
        </li>
        
        {% endfor %}


    </ul>
    
        
</body>
</html>